// Variables

$body-family: 'Bai Jamjuree', sans-serif;
$root-font-size: 18px;

$cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$grayish-blue: hsl(201, 11%, 66%);
$grayish-blue-dark: hsl(210, 10%, 33%);
$light-gray: #F5F6F8;
$white: #fff;

$desktop-size: 1440px;


%button {
  display: inline-flex;
  text-decoration: none;
  padding: 15px 60px;
  margin: 10px;
  width: 250px;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(23, 23, 23, .2);
}

// Base Styles

html {
  box-sizing: border-box;
  font-size: $root-font-size;
}

*, *::after, *::before{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-family;
  font-size: 1rem;
  text-align: center;
}


h1,h2,h3 {
  color: $grayish-blue-dark;
  font-weight: 600;
}

p {
  font-size: 1rem;
  padding: 20px;
  color: $grayish-blue;
}

section, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

section {
  margin-bottom: 110px;
}

.btn-primary {
  @extend %button;
  background-color: $cyan; 
  border-bottom: 3px solid #1BA08D;
}

.btn-secondary {
  @extend %button;
  background-color: $light-blue;
  border-bottom: 3px solid #4F63DE;
}

// Site Wrapper

.site-wrapper {
  width: 100%;
}

// Header

header{
  background-image: 
  linear-gradient(to bottom, transparent, $white),
  url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  display: flex;
  flex-direction: column;

  .logo{
    margin-bottom: 50px;
  }
}

// Downloads

.downloads{
  p {
    margin-bottom: 30px;
  }
}

// Info

.info {
  margin-bottom: 20px;
}

// Features

.features{
  &__img {
    width: 90%;
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 40px;
  }
}

// Access
.access {
  img {
    width: 90%;
  }
}

// Workflow

.workflow{
  p {
    margin-bottom: 60px;
  }

  &:__item {
    padding: 20px;
  }

  h3 {
    margin-top: 30px;
  }

  img {
    height: 40px;
  }
}

// Companies

.companies {
  img:not(:first-child) {
    margin-top: 70px;
    height: 40px;
  }
}

// Footer

footer {
  background-color: $light-gray;
  padding-bottom: 50px;

  .logo {
    width: 50px;
    margin: 50px 0;
  }

  ul {
    list-style: none;

    li {
      padding: 10px;
    }
  }

  .social-icons{
    margin-top: 50px;
    img {
      height: 20px;
    }

    img:not(:first-child) {
      margin-left: 30px;
    }
  }
}

// Desktop Version

@media(min-width: $desktop-size){
  html {
    font-size: 20px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .site-wrapper{
    width: 1440px;
  }

  .access, .info, .downloads {
    p, h2 {
      width: 800px;
    }
  }

  header{
    background-image: 
    linear-gradient(to bottom, transparent, $white),
    url('../images/bg-header-desktop.png');
  }

  .access {
    margin-bottom: 60px;
  }

  .features {
    flex-direction: row;
    margin-top: 60px; 

    img {
      width: 50%;
    }

    &__list {
      margin-left: 100px; 
      width: 50%;
      text-align: left;
    }
    p {
      padding-left: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .workflow {
    margin-bottom: 20px;
    &-wrapper{
      margin-top: 60px; 
      justify-content: space-between;
      width: 100%;
      display: flex;
    }
    &__item{
      width: 33%;
    }
  }

  .companies{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    img:first-child {
      margin-top: 70px;
      height: 40px;
    }
  }

  .footer-wrapper{
    width: 100%;
    background-color: $light-gray;
    display: flex;
    justify-content: center;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 60px;
    width: 1440px;

    .logo {
      margin: 0;
    }

    .social-icons {
      margin-top: 0;
      align-self: center;
    }
  }

  .btn-primary, .btn-secondary {
    font-size: 1rem;
    text-align: center;
    width: 300px;
  }
}